.heading {
  @apply text-white;
  background: #b71c1c;
}

.heading,
.case {
  @apply flex flex-col justify-between text-center;
}

.heading > div {
  @apply border-t border-red-900 p-2;
}

.heading > div:not(:first-child),
.case > div {
  @apply flex flex-row justify-evenly items-center;
}

.heading > div:last-child {
  @apply italic;
}

.case {
  @apply bg-pink-100 py-1 justify-center;
}

.row {
  @apply min-w-full col-span-full grid grid-cols-10 gap-1 relative;
}

.row:not(:first-child) {
  @apply -mt-1;
}

.row:not(:first-child)::before {
  content: attr(data-label);
  @apply text-gray-700 h-4 w-16 absolute -left-6 -top-0.5 whitespace-nowrap text-xs;
}

.row:last-child {
  @apply text-pink-100;
}

/* .case > div > div {
  @apply mx-1 bg-gray-300;
} */
