.heading {
  @apply text-white;
  background: #b71c1c;
}

.heading,
.case {
  @apply flex flex-col justify-between text-center;
}

.heading > div {
  @apply border-t border-red-900 p-2;
}

.heading > div:not(:first-child),
.case > div {
  @apply flex flex-row justify-evenly items-center;
}

.heading > div:last-child {
  @apply italic;
}

.case {
  @apply bg-pink-100 py-1 justify-center;
}

.row {
  @apply min-w-full col-span-full grid grid-cols-10 gap-1 relative;
}

.row:not(:first-child) {
  @apply -mt-1;
}

.row:not(:first-child)::before {
  content: attr(data-label);
  @apply text-gray-700 h-4 w-16 absolute -left-2 md:-left-3 2xl:-left-6 -top-0.5 whitespace-nowrap text-xs;
}

.row:nth-child(2n) > div {
  @apply bg-pink-50;
}

.rowRemove {
  @apply absolute bottom-3 2xl:bottom-8 -left-4 2xl:-left-12 h-5 fill-current text-red-800 hover:text-red-500 cursor-pointer;
}

.rowChart {
  @apply absolute bottom-2 -left-5 h-6 fill-current text-yellow-400 hover:text-yellow-600 cursor-pointer;
}

.selectedCase {
  @apply text-green-600;
}

.caseIncomplete {
  @apply text-gray-400 cursor-default hover:text-gray-400;
}

.rowIncomplete {
  @apply text-transparent;
}

.addRow {
  @apply text-xs text-green-700 hover:text-green-500 font-bold cursor-pointer;
}

/* .case > div > div {
  @apply mx-1 bg-gray-300;
} */
