.container {
  /* max-width: 36rem; */
  /* padding: 0 1rem; */
  margin: 3rem auto 6rem;
  position: relative;
}

.header {
  @apply flex items-start px-4 sticky top-0 z-50 border-b border-white;
  background: #b71c1c;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.backToHome {
  margin: 0.5rem 0 0;
}
